.search-result-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: #999;

  border: 3px solid var(--d-1, #572613);
  background: var(--l-1, #fff);
  padding: 30px 26px;
  border-radius: 32px;
}

.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 3px solid var(--d-1, #572613);
  background: var(--l-1, #fff);
  padding: 10px 15px;
  border-radius: 32px;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &__data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 5px 10px;
    border: 3px solid var(--d-1, #572613);
    border-radius: 30px;
    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      object-fit: cover;
    }
    span {
      color: var(--d-1, #572613);
      font-family: Quicksand;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  &__balance {
    color: var(--d-1, #572613);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
